bin/
obj/
*.log
.vscode/
*.user
TestResults/
node_modules/

# Test Reports and Results
/test-results/
/playwright-report/
/allure-results/
/allure-report/
/blob-report/

# Playwright specific
/playwright/.cache/
/playwright/.auth/
.env

# Compressed files
*.json.gz
